/* geral */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    background: -webkit-gradient(linear, left top, right top, from(#e0c3fc), to(#8ec5fc));
    background: -moz-linear-gradient(left, #e0c3fc, #8ec5fc);
  }

/* tarefas */
.container {
    text-align: center;
    background-color: #ffff;  
    margin: 200px auto;
    width: 70%;
    height: auto;
}

.tarefa__titulo {
    padding: 30px;
    font-size: 14px;
}

.lista-tarefa__input{
    width: 90%;
    height: 100px;
    border: 1px solid rgb(207, 207, 207); 
    font-size: 14px;
}

::placeholder{
    font-size: 14px;
    font-weight: 600;
    text-align: center;  
}

/* responsivo-tarefas */
@media (min-width: 500px){
    .container {
        width: 60%;
        height: auto;
    }
}   

@media (min-width: 600px){
    .container {
        width: 50%;
        height: auto;
    }
} 
@media (min-width: 768px){
    .container {
        width: 40%;
        height: auto;
    }
    .tarefa__titulo {
        font-size: 16px;
    }
    .lista-tarefa__input{
        height: 100px;
    }
    ::placeholder{
        font-size: 16px;
    }
}
/* botao */

.btn {
    font-size: 12px;
    color: #ffff;
    text-transform: uppercase;
    margin: 10px 8px;
    border-radius: 5px;
    font-weight: 700;
    padding: 5px;
    border: 0;
    cursor: pointer;
}  

.botao__enviar{
    background-color: #ba7af8;
}

.botao__deletar-tudo{
    background-color: rgb(219, 157, 157);
}

.botao__deletar-tudo:hover{
    background-color:rgb(214, 71, 71);
    transition: 0.3s;
}

.botao__selecionar-tudo{
    background-color: rgb(166, 207, 166);
}

.botao__selecionar-tudo:hover{
    background-color: rgb(46, 116, 46);
    transition: 0.3s;
}

@media (min-width: 768px){
    .btn{
        font-size: 14px;
        font-weight: 600;
        padding: 5px 15px;
    }
}   

/* botao excluir */
.botao__excluir{
    color: rgb(88, 86, 86);
    border: 0;
    font-size: 26px;
    cursor: pointer;
}

/* iten do input */
.tarefa__itens {
  display: none;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 15px;
  justify-content: space-between;
  text-align: left;
  position: relative;
  cursor: pointer;
  
}

.tarefa__itens-checked{
  text-decoration: line-through;
  color: gray;
  border-bottom: 1px solid rgb(207, 207, 207); 
  padding: 15px;
  display: flex;
  justify-content: space-between;
  text-align: left;
} 
   






